<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>CRUD SPRING BOOT</title>
</head>
<body>
	<div>
	<a th:href="@{/new}">Agregar Nuevo</a>
		<table border="1">
			<thead style="background-color: #5BA5EA">
				<tr>
					<th>#</th>
					<th>TIPO</th>
					<th>DIRECCION</th>					
					<th>FECHA</th>
					<th>ACCIONES</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="acta:${acta}">
				    <td th:text="${acta.id}"></td>
					<td th:text="${acta.tipoSesion}"></td>
					<td th:text="${acta.descripcion}"></td>
					<td th:text="${acta.fecha}"></td>
					<td>
					<a th:href="@{/delete/}+${acta.id}">eliminar</a>
					<a th:href="@{/listar/}+${acta.id}">editar</a>
					</td>
				</tr>
			</tbody>
		</table>
		<table border="1">
			<thead style="background-color: #5BA5EA">
				<tr>
					<th>#</th>
					<th>Nombre</th>
					<th>Ubicacion</th>
					<th>Acciones</th>					
				</tr>
			</thead>
			<tbody>
				<tr th:each="decanato:${decanato}">
				    <td th:text="${decanato.id}"></td>
					<td th:text="${decanato.nombre}"></td>
					<td th:text="${decanato.ubicacion}"></td>
					<td>
					<a th:href="@{/delete/}+${decanato.id}">eliminar</a>
					<a th:href="@{/listar/}+${decanato.id}">editar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>

